<footer class="footer">
    <div class="footer__container _container">
        <div class="footer__body">
            <div class="footer__main">
                <a href="" class="footer__logo _footer-title">Funiro.</a>
                <div class="footer__text">Worldwide furniture store since 2020. We sell over 1000+ branded products on our website</div>
                <div class="footer__contacts contacts-footer">
                    <a href="" class="contacts-footer__item _icon-location">Sawojajar Malang, Indonesia</a>
                    <a href="tel:+34 602 14 8999" class="contacts-footer__item _icon-phone">+34 602 14 8999</a>
                    <a href="https://www.funiro.com" target="_blank" class="contacts-footer__item">www.funiro.com</a>
                </div>
            </div>
            <div data-spollers="768,max" class="footer__menu menu-footer">
                <div class="menu-footer__column">
                    <button type="button" data-spoller class="menu-footer__title _footer-title">Menu</button>
                    <ul class="menu-footer__list">
                        <li><a href="" class="menu-footer__link">Products</a></li>
                        <li><a href="" class="menu-footer__link">Rooms</a></li>
                        <li><a href="" class="menu-footer__link">Inspirations</a></li>
                        <li><a href="" class="menu-footer__link">About Us</a></li>
                        <li><a href="" class="menu-footer__link">Terms & Policy</a></li>
                    </ul>
                </div>
                <div class="menu-footer__column">
                    <button type="button" data-spoller class="menu-footer__title _footer-title">Account</button>
                    <ul class="menu-footer__list">
                        <li><a href="" class="menu-footer__link">My Account</a></li>
                        <li><a href="" class="menu-footer__link">Checkout</a></li>
                        <li><a href="" class="menu-footer__link">My Cart</a></li>
                        <li><a href="" class="menu-footer__link">My Catalog</a></li>
                    </ul>
                </div>
                <div class="menu-footer__column">
                    <button type="button" data-spoller class="menu-footer__title _footer-title">Stay Connected</button>
                    <ul class="menu-footer__list">
                        <li><a href="" class="menu-footer__link">Facebook</a></li>
                        <li><a href="" class="menu-footer__link">Instagram</a></li>
                        <li><a href="" class="menu-footer__link">Twitter</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer__subscribe subscribe">
                <div class="subscribe__title _footer-title">Stay Updated</div>
                <form data-message="subscribe" data-test action="#" class="subscribe__form">
                    <input autocomplete="off" name="form[]" data-error="Error" type="text" data-value="Enter your email" class="input _req _email">
                    <button type="submit" class="subscribe__button _icon-send"></button>
                </form>
            </div>
        </div>
    </div>
</footer>